<div id="about">
  <div class="about-content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
        <li>
          <img src="https://avatars3.githubusercontent.com/u/32457866?v=4" class="img-circle" alt="Carol" />
      <h2>Caroline Peron</h2>
          <p>
            <a href="http://github.com/ssaunier">
              <i class="fa fa-github"></i> CarolPeron
            </a>
          </p>
        </li>
        <li>
          <img src="https://avatars2.githubusercontent.com/u/31544365?v=4" class="img-circle" alt="Demitroff" />
      <h2>Pati Demitroff</h2>
        <p>
          <a href="http://github.com/patidemitroff">
            <i class="fa fa-github"></i> patidemitroff
          </a>
        </p>
      </li>
    </ul>
  </div>
</div>
